<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>MapHider v2</title>

  <link rel="stylesheet" href="../node_modules/@sweetalert2/theme-dark/dark.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.3/dist/vuetify.min.js" type="module" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.3/dist/vuetify.min.css" rel="stylesheet">
  <script type="module" src="./render.js" defer>
  </script>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="app">
    <v-app>
      <v-main>
        <div class="appBody d-flex flex-column align-center">
          <v-dialog v-model="bindDialog" persistent max-width="600">
            <template v-slot:default="dialog">
              <v-card elevation="2">
                <v-card-title>
                  Add {{isTrigger ? 'trigger' : 'remover'}} bind.
                </v-card-title>
                <v-card-text>
                  <v-form ref="bindForm" v-model="validBinds">
                    <v-select v-model="select" :items="keys" label="Keys" multiple
                      hint="Select the keys to trigger this action" persistent-hint :rules="[rules.keys]">

                    </v-select>
                  </v-form>
                </v-card-text>
                <v-card-actions class="d-flex flex-row justify-evenly align-center">
                  <v-btn @click="addKey">
                    <v-icon class="mr-1">mdi-content-save</v-icon>Confirm
                  </v-btn>
                  <v-btn text @click="dialog.value = false">
                    <v-icon class="mr-1">mdi-close-thick</v-icon>Cancel
                  </v-btn>
                </v-card-actions>

              </v-card>

            </template>
          </v-dialog>

          <div class="obs-wrapper">
            <v-form class="w-100 pt-5" v-model="validObsSettings" ref="obsForm">
              <v-container fluid class="ml-5 mr-5" style="width: auto !important;">
                <v-row>
                  <span class="ml-5 mb-5 mr-auto">OBS Config</span>
                </v-row>
                <v-row class="d-flex flex-row align-center justify-evenly">
                  <v-text-field v-model="ip" :append-icon="showIP ? 'mdi-eye' : 'mdi-eye-off'" persistent-hint outlined
                    :type="showIP ? 'text' : 'password'" name="target-ip-input" :rules="[rules.required, rules.ip]"
                    label="Target IP" hint="Local IP or Public IP of second computer" counter
                    @click:append="showIP = !showIP">
                  </v-text-field>
                  <v-text-field v-model="port" :append-icon="showPort ? 'mdi-eye' : 'mdi-eye-off'" persistent-hint
                    outlined :type="showPort ? 'text' : 'password'" name="target-port-input"
                    :rules="[rules.required, rules.port]" label="Port" hint="Port for OBS (Default 4444)" counter
                    @click:append="showPort = !showPort" class="ml-2 mr-2"></v-text-field>
                  <v-text-field v-model="password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    persistent-hint outlined :type="showPassword ? 'text' : 'password'" name="target-password-input"
                    :rules="[rules.required, rules.password]" label="Password" hint="OBS Password" counter
                    @click:append="showPassword = !showPassword">
                  </v-text-field>
                </v-row>
                <v-row class="d-flex flex-row justify-evenly align-center mb-5 mt-5">
                  <v-btn color="error" @click="resetObsSettings">
                    <v-icon class="mr-1">mdi-restore</v-icon> Reset
                  </v-btn>
                  <v-btn color="success" :disabled="!validObsSettings" @click="saveObsSettings">
                    <v-icon class="mr-1">mdi-content-save</v-icon> Save
                  </v-btn>
                </v-row>
              </v-container>
            </v-form>
            <v-divider width="99%"></v-divider>
            <div class="w-100 pt-5 pb-5">
              <v-row>
                <v-col cols="12" md="6">
                  <v-container fluid class="ml-5 mr-5" style="width: auto !important;">
                    <v-row>
                      <span class="ml-5 mb-5 mr-auto">OBS Controls</span>
                    </v-row>
                    <v-row class="d-flex flex-row justify-evenly align-center">
                      <v-btn elevation="3" @click="pauseReconnection" color="pink darken-4">
                        <v-icon class="mr-1">mdi-pause</v-icon>Disconnect
                      </v-btn>
                      <v-btn elevation="3" @click="reconnectOBS" color="indigo darken-3">
                        <v-icon class="mr-1">mdi-reload</v-icon>Reconnect
                      </v-btn>
                    </v-row>
                </v-col>
                <v-divider vertical></v-divider>
                <v-col cols="12" md="6">
                  <v-container fluid class="ml-5 mr-5" style="width: auto !important;">
                    <v-row>
                      <span class="ml-5 mb-5 mr-auto">OBS Item Selector</span>
                    </v-row>
                    <v-row class="d-flex flex-row justify-center align-center">
                      <v-select append-outer-icon="mdi-restore" @click:append-outer="sceneRefresh"
                        :items="obsSceneItems" label="Target Item" hint="Only available when OBS is connected"
                        persistent-hint outlined v-model="targetItem" @change="updateTargetItem">
                      </v-select>
                    </v-row>
                  </v-container>
                </v-col>
              </v-row>
            </div>
          </div>

          <div class="bind-wrapper">
            <div class="w-100 pt-5 pb-5">
              <v-row>
                <v-col cols="12" md="6">
                  <v-container fluid class="ml-5 mr-5" style="width: auto !important;">
                    <v-row>
                      <span class="ml-5 mb-5 mr-auto">Remover Binds</span>
                      <v-btn fab small top right class="ml-auto" v-on:click="openBindDialog(false)">
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </v-row>
                    <v-row>
                      <v-chip label v-for="(value, key, index) in removerKeys" :key="index" class="ma-2"
                        @click="removeRemoverKey(value)">
                        <span class="add-plus" v-for="(svalue, skey, sindex) in value">{{getDisplay(svalue)}}</span>
                        <v-icon class="ml-1">mdi-delete</v-icon>
                      </v-chip>
                    </v-row>
                  </v-container>
                </v-col>
                <v-divider vertical></v-divider>
                <v-col cols="12" md="6">
                  <v-container fluid class="ml-5 mr-5" style="width: auto !important;">
                    <v-row>
                      <span class="ml-5 mb-5 mr-auto">Trigger Binds</span>
                      <v-btn fab small top right class="ml-auto" v-on:click="openBindDialog(true)">
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </v-row>
                    <v-row>
                      <v-chip label v-for="(value, key, index) in triggerKeys" :key="index" class="ma-2"
                        @click="removeTriggerKey(value)">
                        <span class="add-plus" v-for="(svalue, skey, sindex) in value">{{getDisplay(svalue)}}</span>
                        <v-icon class="ml-1">mdi-delete</v-icon>
                      </v-chip>
                    </v-row>
                  </v-container>
                </v-col>

              </v-row>
            </div>
          </div>

          <div class="history-wrapper pt-3 pb-3 mt-3 mb-3">
            <span class="history-title">Log</span>
            <div class="d-flex flex-column history">
              <span v-for="(value, key, index) in logs" :key="index" class="historyItem pa-1">
                {{ value }}
              </span>
            </div>
          </div>
        </div>
      </v-main>
      <span class="footer-status">{{statusDisplay}}</span>
      <v-footer app dark padless height="20">
        <div class="d-flex flex-row align-center justify-center footer-container">
          {{ new Date().getFullYear() }} — <strong> LucTheSloth</strong>
        </div>
      </v-footer>
      <span class="footer-coffee">
        <a title="Support me on ko-fi.com" class="kofi-button"
            style="background-color:#484761;" @click="openKofiLink" target="_blank"> 
            <span class="kofitext">
              Support Me on
              Ko-fi <img
              src="https://storage.ko-fi.com/cdn/cup-border.png" alt="Ko-fi donations" class="kofiimg"></span></a>
      </span>
    </v-app>
  </div>

</body>

</html>