html,
body {
  font-family: "Roboto", sans-serif;
  overflow: auto;
  background: #3e3e3e;
}
.add-plus:not(:first-child)::before{
  content:"+";
  margin: 0 3px 0 3px;
}
.justify-evenly {
  justify-content: space-evenly;
}
.divider {
  height: 1px;
  width: 97%;
  color: rgba(44, 44, 44, 0.075);
  margin-top: 5px;
  margin-bottom: 5px;
  content: "";
}
.obs-wrapper, .bind-wrapper {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.02);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.w-100 {
  width: 100%;
}
.history-wrapper {    
    overflow: visible;
    height: clamp(175px, 20vh, 250px);
    width: 95%;
    margin-bottom: 15px;
}
.history {
  height: clamp(175px, 20vh, 250px);
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 3px;
}
.history-title {
    content: "LOG";
    position: absolute;
    color: whitesmoke;
    top: -22px;
    left: 5px;
    font-size: 19px;
    text-transform: uppercase;
}
.historyItem:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.1);
}
.appBody {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.footer-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer-status {
  position: fixed;
  bottom: 0;
  left: 3px;
  z-index: 4;
}

*::-webkit-scrollbar {
  width: 13px !important;
}
.appBody::-webkit-scrollbar, body::-webkit-scrollbar, html::-webkit-scrollbar {
  background: #121212 !important;
}
*::-webkit-scrollbar-track {
  background: rgba(0,0,0,0) !important;
  border-left: 1px solid rgba(0,0,0,0) !important;
}

*::-webkit-scrollbar-thumb {
  background: #3e3e3e !important;
  border: solid 3px #20202000 !important;
  border-radius: 7px !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: #646464 !important;
}

.footer-coffee {
  position: fixed;
  bottom: 0;
  right: 3px;
  z-index: 4;
  text-decoration: none;
  font-size: 13px;
  color: #FFF !important;
}
.kofiimg {
  height: 13px;
  width: auto;
}
.kofitext {
  color: #FFF !important;
  font-weight: bold;
  text-decoration: none;
}